.emailbody{
    
    flex-direction: column;
    display: flex;
}
.emailsetting{
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.emailsetting svg{
    font-size: 18px;

}
.emailsettingRight {
   
   align-items: center;
    display: flex;
   
}

.emailsettingRight p{
   display: flex;
    font-size: 15px;
}
.emailsettingRight svg{
   
    font-size: 18px;
}
.emailtype{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

}
.emailtype >.options{
    display: flex;
   min-width: 250px;
    cursor: pointer;
    padding: 0px 10px;
    border-bottom: 3px solid white;
}
.emailtype >.options svg{
    margin-right: 10px;
    font-size: 20px;
   
}
.emailtype >.options p{
    font-size: 13px;
    }
.emailtype >.options:hover{
    background-color: whitesmoke;
}
.options--active{
    border-bottom:3px solid rgb(114, 166, 198) !important;
}
.options--active p,.options--active svg{
    color:  rgb(114, 166, 198) !important;
    font-weight: bold;
}
.emailbody1{
display: flex;
align-items: center;
border-bottom: 1px solid whitesmoke;
padding: 0px 10px;
/* height: 40px; */
}
.emailbody1:hover{
    box-shadow: 2px 2px 4px whitesmoke;
    cursor: pointer;
}
.emailbodyLeft1 {
    display: flex;
    align-items: center;
    min-width: 300px;
    flex: 20%;
 }
 .emailbodyLeft1 svg{
 font-size: 18px;
 color: gray;
 margin-right: 15px;
 }
 .emailbodyLeft1 h4{
    font-size: 13px;
    
    }
    .emailbodyMiddleMsg1 p{
        font-size: 13px;
        
        }
.emailbodyMiddle1 {
        display: flex;
        align-items: center;
        flex: 90%;
        }
        .emailbodyMiddle1 .emailbodyMiddle1Msg{
display: flex;
width: 90%;
        }       
.emailbodyMiddle1 p{  
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    max-width: 700px;
}        
.emailbodyRight1 {
            display: flex;
            align-items: center;
            flex: 10%;
            }   
  .emailbodyRight1 p{
    font-size: 13px;
  }           