

.footer{
    position: absolute;
    bottom: 0cm;
    text-align: right;
    width: 100%;
    
  }
 
  
  /* .footer1{
    position: absolute;
    bottom: 0cm;
    text-align: left;
    width: 100%;
    
  } */